/* applicable for all elements */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(49, 49, 49);;
}

/* common class for reuse */
.container{
    width: 1140px;
    margin: 0 auto;
}

.half-width{
    width: 50%;
    margin: 0 20px;
}

.section-title{
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(49, 49, 49);  
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 20px;
    background: #FF6263;
    color: #fff;
    margin: 15px 0;
    border-radius: 5px;
}

.common-color{
    color: #F7CD2E;
    font-size: 30px;
}

/* about section start */
.about-section{
    display: flex;
}

.section-heading{
    margin-top: 120px;
    padding-left: 20px;
    border-left: 3px solid #FF6263;
}
.section-heading h3{
    margin-bottom: -15px;
}

.left .section-dicription{
    margin-top: 20px;
}

.right{
    background-image: url(../images/shapes/shape-4.png);
}

.right img{
    width: 80%;
}



