/* applicable for all elements */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(49, 49, 49);
    box-sizing: border-box;
}

/* common class for reuse */
.container{
    width: 1140px;
    margin: 0 auto;
}

.half-width{
    width: 50%;
    margin: 0 20px;
}

.section-title{
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(49, 49, 49);  
}

.heading{
    font-size: 40px;
    text-transform: capitalize;
    color: rgb(49, 49, 49); 
    text-align: center;
    margin-bottom: 40px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 20px;
    background: #FF6263;
    color: #fff;
    margin: 15px 0;
    border-radius: 5px;
}

.common-color{
    color: #F7CD2E;
    font-size: 30px;
}

.span-color{
    color: #F7CD2E;

}

/* about section start========================== */
.section-flex{
    display: flex;
    margin-bottom: 80px;
}

.section-heading{
    margin-top: 120px;
    padding-left: 20px;
    border-left: 3px solid #FF6263;
}
.section-heading h3{
    margin-bottom: -15px;
}

.left .section-dicription{
    margin-top: 20px;
}

.right{
    background-image: url(../images/shapes/shape-4.png);
}

.right img{
    width: 80%;
}

/* about section end========================== */
/* learn item start========================== */
.learn-section{
    margin-bottom: 100px;
}
.learn-items{
    display: flex;
}

.learn-item-width{
    width: 32%;
}
.learn-item-width img{
    width: 150px;
}

.learn-subject{
    margin-bottom: 15px;
}

.left-item{
    background: #CAD5E2;
    padding: 30px 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.middle-item{
    background: #fcd9e9;
    padding: 30px 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.right-item{
    background: #f3e8c3;
    padding: 30px 20px;
    border-radius: 10px;
}

/* learn item end========================== */
/* develop section start========================== */
.develop-section{
    margin-bottom: 100px;
}

.develop-div{
    display: flex;
}

.develop-section img{
    width: 80%;
}

.develop-header-1{
    text-align: left;
    margin-top: 30px;
    margin-left: -60px;
    font-size: 40px;
}
.develop-header-2{
    text-align: left;
    margin-top: -45px;
    margin-left: -60px;
    font-size: 40px;
}

.develop-disc{
    margin-top: -20px;
    margin-left: -60px;
}

.btn-1{
    margin-left: -60px;
    margin-top: 20px;
}

/* know section ============ */
.know-section{
    margin-left: 100px;
}








